
@{
    ViewBag.Title = "View";
}

<!-- Views/Student/Index.cshtml -->
@model IEnumerable<Assignmenton2.Models.Student>

<h2>Student List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Course</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Course.CourseName</td>
                <td>@student.Course.Teacher.Name</td>
            </tr>
        }
    </tbody>
</table>


